@import "src/app/variables.scss";
.container {
  padding-top: 80px;
  padding-bottom: 80px;

  .image_container {
    background-color: $mainColor;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 72px;

    @media (max-width: $large) {
      padding-left: 24px;
    }
    @media (max-width: $medium) {
      border-top-left-radius: 20px;
      border-bottom-right-radius: 0;
      display: block;
      margin: 0 auto;
    }
    @media (max-width: $small) {
      max-width: 382px;
    }
  }
  .image {
    width: 100%;
    object-fit: fill;

    @media (max-width: $small) {
      width: 382px;
      height: 382px;
      display: block;
      margin: 0 auto;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 20px;
    }
  }
  .desc {
    color: $primaryColor;
    font-weight: 700;
    margin-bottom: 40px;
    max-width: 470px;
    padding-top: 170px;

    @media (max-width: $medium) {
      padding-top: 155px;
    }
    @media (max-width: $small) {
      padding-top: 55px;
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @media (max-width: $small) {
      display: block;
    }
  }
  .start_btn {
    justify-content: center;
    padding: 24px 36px;
    width: 173px;
    height: 66px;
    border-radius: 40px;
    font-weight: 700;
    @media (max-width: $small) {
      width: 334px;
    }
  }

  .btn {
    align-items: center;
    padding: 24px 36px;
    width: 173px;
    height: 66px;
    border: 1.5px solid $primaryColor;
    filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
    border-radius: 36px;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;

    @media (max-width: $small) {
      justify-content: center;
      width: 334px;
      margin-top: 16px;
      margin-bottom: 55px;
    }
  }
}

@media (max-width: $small) {
  .row {
    flex-direction: column-reverse;
  }
}
