@import "src/app/variables.scss";

.container {
  padding-top: 150px;
  padding-bottom: 150px;

  .title {
    text-align: center;
  }
  .desc {
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    color: $secondaryMainColor;
  }

  .card_list {
    gap: 28px;

    @media (max-width: $medium) {
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      margin: 0 auto;
    }
  }
  .card_item {
    border: 1px solid $borderColor;
    border-radius: 24px;
    padding: 0 40px;

    @media (max-width: $medium) {
      padding: 0 32px;
    }

    .picture {
      margin-top: 50px;
      margin-bottom: 32px;

      @media (max-width: $medium) {
        margin-top: 32px;
      }
    }
    .description {
      margin-bottom: 32px;
    }
    .review {
      color: $mainColor;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
    }

    .list_name {
      color: $mainColor;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
    }
    .job_desc {
      margin-bottom: 50px;

      @media (max-width: $medium) {
        margin-bottom: 36px;
      }
    }
  }
}

@media (max-width: $medium) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// @media (max-width: $small) {
//   .card_list {
//     gap: 24px;
//   }
// }
