@import "src/app/variables.scss";

.container {


  .logo {
    padding-top: 24px;
  }

  .links {
    color: $mainColor;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $medium) {
      display: none;
    }
  }

  .link {
    color: $mainColor;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
  }

  .login_btn {
    justify-content: flex-end;
    padding: 18px 24px;
    width: 87px;
    height: 54px;
    border-radius: 30px;
  }

  .start_btn {
    justify-content: flex-end;
    padding: 18px 24px;
    width: 138px;
    height: 54px;
    border-radius: 30px;
  }

  .image {
    text-align: right;
  }

  @media (max-width: $medium) {
    .logo_small {
      width: 152px;
      height: 33px;
    }
    .nav_container {
      text-align: -webkit-right;
    }
    .burger_button {
      margin-top: 25px;
      width: 28px;
      height: 3px;
      background-color: $mainColor;
      border-radius: 5px;
      text-align: left;

      &::before {
        content: "";
        position: absolute;
        width: 28px;
        height: 3px;
        background-color: $mainColor;
        border-radius: 5px;
        transform: translateY(-10px);
      }
      &::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 3px;
        background-color: $mainColor;
        border-radius: 5px;
        transform: translateY(10px);
      }
    }
  }
}
